<div id="header" class="row">
    <div id="logo" class="col-3 m-5">
      <svg width="230" height="230">
        <defs>
          <pattern id="logoimg"  patternUnits="userSpaceOnUse" width="200" height="200"  x="70" y="60">
            <image href="/assets/images/logo2.png"  width="100" height="100"/>
          </pattern>
    
        </defs>
        <path id="curve" d="M 23 118 A 94 94 0 1 1 23 120"> 
        </path>
        <text class="text" >
          <textPath href="#curve" >
            Quality Service! &nbsp; Reasonable Prices!  &nbsp; 
            Superior Prints Always! 
          </textPath>
    
        </text>
      </svg>
      
      <!-- <img id="logo" src="../assets/images/logo2.png"/> -->
      
      </div>
      
      <div class="col align-self-center">
        <h1 id="headertext" >Simularcrum Replication Services</h1>
      </div>
      <div class="col-2"></div>
      </div>