<div class="container row">
   <div class="col-1"></div>
    <div class="col-4 m-5">
   <h2 class="text-light">Please accept our apology!</h2>
   <h4 class="text-light"> Our site is currently under construction. </h4>
   <h4 class="text-light">If you would like to order a custom print please click <a href="mailto:Kattika8230@gmail.com"> here</a>.</h4>
   <h4 class="text-light">Remember to attach your STL file to the email before sending.</h4>
   <h4 class="text-light"> Here is a resource for customized prints. </h4>
   <h4> <a href="https//:www.thingiverse.com">Thingiverse.com</a></h4>
   <h5 class="text-light">(If you select a print from this website. Do NOT attach the file to the email, instead click the share icon and then the Copy button. Paste the link into the body of the order email.)</h5>
    </div>
   <div class="col-5 m-5"><img src="./assets/images/WebsiteUnderConstruction.png" class ="img-fluid rounded"/></div>

</div>
